<% for (let i = 0; i < estado.length; i++) { %>
    <div>
        <p>
            Id: <%= estado[i].id %>
        </p>
    
        <p>
            Id Narrativa: <%= estado[i].idnarrativa %>
        </p>

        <p>
            Título: <%= estado[i].titulo %>
        </p>
        

        <p>
            Descrição: <%= estado[i].descricao %>
        </p>
    
        <p>
            Id estado 1: <%= estado[i].idestado1 %>
        </p>

        <p>
            Texto 1: <%= estado[i].texto1 %>
        </p>

        <p>
            Id estado 2: <%= estado[i].idestado1 %>
        </p>

        <p>
            Texto 2: <%= estado[i].texto1 %>
        </p>

        <p>
            Id estado 3: <%= estado[i].idestado1 %>
        </p>

        <p>
            Texto 3: <%= estado[i].texto1 %>
        </p>

        <p>
            Id estado 4: <%= estado[i].idestado1 %>
        </p>

        <p>
            Texto 4: <%= estado[i].texto1 %>
        </p>

        <p>
            Id estado 5: <%= estado[i].idestado1 %>
        </p>

        <p>
            Texto 5: <%= estado[i].texto1 %>
        </p>

    
        <hr />
    
    </div>
    <% } %>