<input type="hidden" id="id" name="id" value="<%=item.id %>" />
<input type="hidden" id="idusuario" name="idusuario" value="<%=item.idusuario %>" />

<div class="form-group">
    <label for="nome">Nome</label>
    <input id="nome" name="nome" maxlength="100" class="form-control" type="text" value="<%=item.nome %>" />
</div>
<div class="form-group mb-0"> 
    <label for="descricao">Descrição</label>
	<textarea id="descricao" rows="10" cols="40" name="descricao" class="form-control"><%=item.descricao %></textarea>
</div>

<%- contentFor("scripts") %>

<script type="text/javascript">
	//<![CDATA[
	"use strict";

	$("#form").validate({
		rules: {
			nome: {
				required: true
			},
			descricao: {
				required: true
			},
		},

		submitHandler: function (form) {
			editarNarrativa(form);
		}
	});

	async function editarNarrativa(form) {
		if (fetchAtivo) {
			return;
		}
		Swal.wait();

		let opcoes = {
			method: "POST",
			body: new FormData(form)
		};

		try {
			let response = await fetch("/api/narrativa/editar", opcoes);

			if (response.ok) {
				Swal.success("Narrativa alterada com sucesso!");
			} else {
				Swal.error("Erro ao alterar a narrativa!");
			}
		} catch (ex) {
			Swal.error("Erro de rede: " + ex.message);
		}
	}
	//]]>
</script>